sentence-transformers==2.2.2
langchain
flask         
pypdf
pinecone[grpc]
python-dotenv
pinecone-client
langchain-pinecone
langchain-community 
mistralai
# langchain_experimental

sentence-transformers
aiml
huggingface_hub==0.14.1

-e .