sentence-transformers
langchain
flask         
pypdf
pinecone[grpc]
python-dotenv
pinecone-client
langchain-pinecone
langchain-community 
# langchain_experimental
langchain_huggingface

sentence-transformers
# huggingface_hub


-e .